.row {
    height: 100%;
    width: 100%;
    overflow: hidden;
   

    .col-md-6 {
        height: 400px;
        overflow-y: scroll;

        .table {
            margin: auto;
            border: 1px solid #ede8e8;
        
            width: 80%;


            .example {
                margin-top: 10%;

                h4 {
                    text-transform: uppercase;
                    font-size: 15px;
                    margin: 10px;
                    margin-left: 30%;
                }

                .dr {
                    margin-left: 30%;
                }

                .radio {
                    margin-left: 30%;
                    margin-top: 5px;

                    .radio-inline {
                        margin: 2px;
                    }
                }

                .btn {
                    margin: 15px;
                    margin-left: 45%;
                }
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }
}

#loadingElement2 {
    display: none;
    color: #f60 ;
    p{
        text-align: center;
        font-size:15px;
    }
}


.abc {
    ::-webkit-scrollbar {
        display: none;
    }
}
