html {
    margin: 0;
    padding: 0;
    height: 100%;
}
 body {
    font-size: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    display: block;
 
    height: 100%;

    #wapper {

        :before, :after {
            box-sizing: inherit;
        }

        .container-fluid {
            ::before {
                display: table;
                content: none;
            }
        }
    }
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}
footer {
        position:absolute;
        width:100%;
    
        background: #5b6e84;
        color: #fff;
        padding: 10px 0;
        bottom: 0;
    
}
