.row {
  margin: 50px; }
  .row .col-md-6 img {
    width: 30%;
    height: 100%;
    margin-left: 70%; }

.formchon {
  margin: 30px; }
  .formchon .a {
    width: 300px;
    height: 300px;
    border: 1px solid #ede8e8;
    margin-left: 50%; }

