.row{
    margin:50px;
    a{
        text-decoration: none;
    h3{
        text-align:center;
        text-transform: uppercase;
        color: #800000;
    }
    img
        {
        height:60%;
        width:50%;
        margin-left:26%;
    }
    }
    p{
        margin-top:30px;
        text-align:center;
    }
    
}
