.table {
  width: 80%;
  margin: 10%;
  border: 1px solid #ede8e8; }

.formchon .a {
  width: 500px;
  height: 300px;
  border: 1px solid #ede8e8;
  margin-left: 37%; }
  .formchon .a .form-tkb {
    margin-left: 37%; }
    .formchon .a .form-tkb h4 {
      margin-top: 25px;
      text-transform: uppercase; }
    .formchon .a .form-tkb .drop {
      margin-bottom: 10px;
      font-size: 20px; }
    .formchon .a .form-tkb button {
      margin: 15px;
      height: 50px;
      width: 100px; }

