<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form class="form-inline my-2 my-lg-0">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog"></span> Advanced Search
    </button>
</form>
<div id="filter-panel" class="collapse filter-panel">




    <div class="form-group">
        <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
        <input type="text" class="form-control input-sm" id="pref-search">
    </div><!-- form group [search] -->

</div>


