
@{
    ViewBag.Title = "GiangVien";
    Layout = "~/Views/HomePage/Home.cshtml";
}

<link rel="stylesheet" href="~/Content/Sass/TrangSinhVien.min.css" />


<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TTGV","GiangVien")">
            <h3>Thông tin Giảng Viên</h3>
            <img src="~/Images/sinhvien/student.png" />
        </a>
        <p>Hiển thị các thông tin của Giảng viên</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("XemMonHoc","GiangVien")">
            <h3>Xem Lịch Dạy</h3>
            <img src="~/Images/sinhvien/lichhoc.png" />
        </a>
        <p>Hiển thị lịch dạy của giảng viên</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("XemDSLop","SinhVien")">
            <h3>Danh Sách Lơp</h3>
            <img src="~/Images/sinhvien/dkhp.png" />
        </a>
        <p>Giúp giảng viên có thể xem các sinh viên trong 1 lớp niên khóa..</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("DSLopHP","SinhVien")">
            <h3>nhập điểm</h3>
            <img src="~/Images/sinhvien/schedule.png" />
        </a>
        <p>Giúp giáo viên có thể nhập điểm theo lớp học phần đang dạy</p>
    </div>
   </div>