@model List<University.Models.ModelViewDKMon>
<table class="table">
    <tr>
        <th>Danh sách môn</th>

    </tr>


  
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ChiTietTinTD", "ThongTinTuyenDung", new { @matin = item.mamonhoc, @stringurl = Request.Url.ToString() })"><h3>@item.monhoc</h3></a>
                </td>

               
               
            </tr>


            <tr></tr>
        }
    }

</table>
<script type="text/javascript">
        function deletes(ids) {
            if (confirm("Ban muốn xóa sách này?")) {
                $.ajax({
                    type: 'POST',
                    url: '/TieuDe/Delete',
                    data: { id: ids },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#tr-' + ids).remove();
                            alert("Ban xoa thanh cong");
                            window.location = "@Url.Action("Index", "TieuDe")";
                        }
                        if(data.status==1)
                            alert('Bạn không thể xóa do sách vẫn còn trong kho');
                    },
                    error: function (data) {
                        alert('Xảy ra lỗi hệ thống');
                    }

                })
            }
        }

</script>


