@model List<University.Models.ModelViewXemMonHoc>
@{
    ViewBag.Title = "DSLopHP2";
    Layout = "~/Views/HomePage/Admin.cshtml";
}







<link rel="stylesheet" href="~/Content/Sass/dkhp.min.css" />
<style rel="stylesheet">
    .col-md-6 {
        overflow-y:scroll;
        margin-left: 25%;
        height:400px;
    }
    .row
    {
        overflow:hidden;
    }

    .row ::-webkit-scrollbar {
        display: none;
    }
</style>

<div class="row">
    <h2 style="margin-left: 35%;">Danh sách lớp học phần đang dạy</h2>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td>Mã lớp</td>
                <td>Tên lớp học phần</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.malopmonhoc</td>
                    <td>
                        @Html.ActionLink(item.tenlophp, "XemSVtheoLopHP2", new { id = item.malopmonhoc })
                    </td>

                </tr>
            }
        </table>
    </div>
</div>





