@model List<University.Models.Data.LopMonHoc>

@{
    ViewBag.Title = "DSMonDK";
    Layout = "~/Views/HomePage/Home.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>DSMonDK</h2>
<table class="table " style="width:95%">
    <tr style="background:orange">
        <th>Mã</th>

        <th>Tên môn</th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.maMonHoc</td>







            <td>
                @Ajax.ActionLink(item.tenLopMonHoc, "DSMonDKPartial", "SinhVien", new AjaxOptions
                {
                    UpdateTargetId = "divResultAll",
                    OnBegin = "",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    LoadingElementId = "loadingElement2",
                    OnSuccess = "",
                    Confirm = "Do you want to get all product?"
                }, new { id = item.maLopMonHoc })
            </td>
        </tr>

    }
</table>
@*Product List Display Here*@
<div id="loadingElement2" style="display:none; color:#f60">
    Loading products...
</div>
<div id="divResultAll"></div>