@model List<University.Models.Data.LopMonHoc>
<link rel="stylesheet" href="~/Content/Sass/dkhp.min.css" />


   

 

      
           <h2 style="margin-left: 30%;">Không có lớp học phần đang mở</h2>
     


