@model List<University.Models.Data.LopMonHoc>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<link rel="stylesheet" href="~/Content/Sass/dkhp.min.css" />
<div class="col-md-6 abc" style="overflow-y: hidden "
>
    <table class="table" >
        <tr>
            <th>Mã</th>

            <th>Tên môn</th>
           


        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.maLopMonHoc</td>







                <td>
                    @Ajax.ActionLink(item.tenLopMonHoc, "DSMonDKPartial", "SinhVien", new { id = item.maLopMonHoc }, new AjaxOptions
                    {
                        UpdateTargetId = "divResul",
                        OnBegin = "",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "get",
                        LoadingElementId = "loadingElement2",
                        OnSuccess = "",
                        Confirm = ""
                    })
                </td>
            </tr>

        }
    </table>
</div>



<div class="col-md-6">
    <div id="divResul"></div>
</div>





