
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/HomePage/Home.cshtml";
}

<script src="sliderengine/jquery.js"></script>
<script src="sliderengine/amazingslider.js"></script>
<link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-2.css">
<script src="sliderengine/initslider-2.js"></script>
<div id="amazingslider-wrapper-2" style="display:block;position:relative;max-width:100%;margin:0 auto;">
    <div id="amazingslider-2" style="display:block;position:relative;margin:0 auto;">
        <ul class="amazingslider-slides" style="display:none;">
            <li>
                <img src="images/download.jpg" alt="download" title="download" />
            </li>
            <li>
                <img src="images/images%20-%20Copy.jpg" alt="images - Copy" title="images - Copy" />
            </li>
            <li>
                <img src="images/images%20%281%29%20-%20Copy.jpg" alt="images (1) - Copy" title="images (1) - Copy" />
            </li>
        </ul>
    </div>
</div>