
@{
    ViewBag.Title = "TKGiangVien";
    Layout = "~/Views/HomePage/Admin.cshtml";
}



@model IEnumerable<University.Models.ModelViewTKGV>



<table class="table">
    <tr>
        <th>
            Danh Sách Giảng Viên
        </th>

        <th></th>
    </tr>

@foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.tengv, "CTTK", new { id = item.magv })
            </td>
            <td>
                @Html.ActionLink("Thêm", "CreateNewTeacher") 
               
            </td>
        </tr>
    }

</table>